<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snacks in a Van</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/site.webmanifest">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/c8023afafc.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>    
            SNACKS IN A VAN <i style="color: #F5F2ED;" class="fas fa-shuttle-van"></i>
    </header>

    <nav>
        <section class = "menu-bar" class="nav-coloring">
            <a href="/vendor/send_location" class="nav-coloring">Send Location <i class="fas fa-map-marker-alt"></i></a>
            &nbsp; | &nbsp;
            <a href="/vendor/logout" class="nav-coloring">Logout <i class="fas fa-sign-out-alt "></i></a>
            <hr size="30">
        </section>
    </nav>
    
    <main>
        {{{body}}}
    </main>
    <footer>
        INFO30005 Project-By Group WebG100
    </footer>
</body>
</html>