<section id = "register-page">
                <ul style="list-style-type:none">
                    <li>
                        <h3>First Name: </h3> <h1>{{thiscustomer.firstName}}</h1>
                    </li>
                    <li>
                        <h3>Last Name: </h3> <h1>{{thiscustomer.lastName}}</h1>
                    </li>
                    <li>
                        <h3>Email Address: </h3><h1>{{thiscustomer.email}}</h1>
                    </li>
                </ul>   
    
                <center><button class="register-btn"><a href="/customer/changeinfo" class="a-register">change my detail</a></button></center>
                </br>
                <center><button class="register-btn"><a href="/customer/logout" class="a-register">log out</a></button></center>
                </br>              
                
</section>