<h1 class="van-locator-title">Van Locator</h1>
<input type="hidden" name = "user-longitude" id = "user-longitude" value="">
<input type="hidden" name = "user-latitude" id = "user-latitude" value="">
<center>
    <p id="please-wait" class="message">Please wait to get your location...</p>
    <section class="float-left">
        <ul id="van-list"></ul>
    </section>
    <section class="van-map">
        <div id="map" class="map" style="height: 500px; border-radius: 5px; "></div>
    </section>  
</center>
<script src="js/map.js"></script>

