<h1>Welcome!</h1>
<center>
    <button class="register-btn"><a href="/customer" style="color: black;">Customer App </a></button>
    <br>
    <br>
    <button class="register-btn"><a href="/vendor" style="color: black;">Vendor App </a></button>
    <br>
</center>

