<section id="order-success">
    <h1>{{thiscustomer.firstName}}'s order has been Placed!</h1>
    <li>
        <button class="register-btn">
        <a href="/customer/newOrders" class="a-register">Check Your Order</a>
        </button>
    </li>
</section>