<section>
    <h1>
        Location send and your van is opened for business!
    </h1>
    <center>
        <button class="register-btn"><a href="/vendor/home" class="a-register">Go to Home Page</a></button>
    </center>
</section>