<section>
    <h1>The Order {{outstandingOrder._id}} is Completed!</h1>
    <center><button class="register-btn">
    <a href="/vendor/orders/outstanding" class="a-register">Back to Outstanding Orders</a>
    </button></center>
</section>
