<section >
    <h1>Register Form</h1>
    <center><h5>{{message}}</h5></center>
    <form method="post" action="/vendor/register">
        
        <table style="margin: auto; border-spacing: 10px">
          <tr>
            <td>Van name:</td>
            <td>
                <input style="height:26px;font-size:14pt;"type="text" id="van_name" name="van_name" placeholder="Van ID" pattern="[A-Za-z0-9 ]{1,30}">
                
            </td>
            
          </tr>
          <tr>
              <td></td>
              <td colspan="5">
              <h2>☼ only character, number and spaces </h2>
              <h2>☼ only 1 to 30 digits </h2>
              <h2>☼ can be entered</h2>
                </td>
          </tr>
          <tr>
              <td>New Password:</td>
              <td>
                  <input style="height:26px;font-size:14pt;"type="password" id="van_password" name="van_password" pattern="[A-Za-z0-9]{5,10}" placeholder="********">
                  <i class="fas fa-eye" onclick="showhide()" id="eye"></i>
              </td>
          </tr>
          <tr>
              <td></td>
              <td colspan="5">
              <h2>☼ only character, number</h2>
              <h2>☼ only 5 to 10 digits </h2>
              <h2>☼ can be entered</h2>
                </td>
          </tr>
          <tr>
              <td>Confirm Password:</td>
              <td>
                  <input style="height:26px;font-size:14pt;"type="password" id="van_password2" name="van_password2" pattern="[A-Za-z0-9]{5,10}" placeholder="********">
                  <i class="fas fa-eye" onclick="showhide2()" id="eye2"></i>
              </td>
          </tr>
          <tr>
          <tr>
          <td colspan="2"><center><button type="submit" class="register-btn"> Register</button></center></td>
          
          </tr>
          <tr>
              <td colspan="2"><center><button class="register-btn"><a href="/vendor" class="a-register">Cancel</a></button></center></td>
          
          </tr>
        </table>

    </form>
    <script>
        var eye = document.getElementById("eye");
        var pwd = document.getElementById("van_password");

        function showhide(){

                if (pwd.type == "password") {
                    pwd.type = "text";
                        eye.className='fas fa-eye-slash'
                }else {
                    pwd.type = "password";
                    eye.className='fas fa-eye'
                }
        }
        var eye2 = document.getElementById("eye2");
        var pwd2 = document.getElementById("van_password2");
        function showhide2(){

                if (pwd2.type == "password") {
                    pwd2.type = "text";
                        eye2.className='fas fa-eye-slash'
                }else {
                    pwd2.type = "password";
                    eye2.className='fas fa-eye'
                }
        }
            </script>

</section>